<div class="row content">
  <div
    class="col-6"
    *ngFor="let employee of employees | sort | slice: start:end"
  >
    <div class="card p-2 m-2">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img src="{{ employee.avatar }}" alt="image" />
          </div>
          <div class="col-9 mt-3">
            <div class="card-title pb-0 mb-0">
              <h5>{{ employee.firstName }} {{ employee.lastName }}</h5>
              <small>{{ employee.position }}</small>
            </div>
            <div class="row">
              <div class="col-3">
                <span class="badge text-primary">{{
                  employee.department
                }}</span>
              </div>
              <div class="col-2">
                <span class="badge text-primary"> Married </span>
              </div>
              <div class="col-6">
                <span class="badge vip">VIP</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
